<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_tile"
        android:label="@string/app_name"
        android:theme="@style/Theme.BillMinderWear">

        <activity
            android:name=".TileMarkPaidActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@style/Theme.BillMinderWear.Transparent" />

        <service
            android:name=".BillMinderTileService"
            android:description="@string/tile_description"
            android:exported="true"
            android:icon="@drawable/ic_tile"
            android:label="@string/tile_label"
            android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER">
            <intent-filter>
                <action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" />
            </intent-filter>
            <meta-data
                android:name="androidx.wear.tiles.PREVIEW"
                android:resource="@drawable/tile_preview" />
        </service>

        <service
            android:name=".WearDataListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data
                    android:scheme="wear"
                    android:host="*"
                    android:path="/billminder/next-due" />
            </intent-filter>
        </service>
    </application>

</manifest>
